@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

:root {
    font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    background-color: whitesmoke;
}

button {
    padding: 0.5rem 1rem;

    border-radius: 0.5e1px;
    border: none;

    background-color: violet;
    color: darkslategrey;

    font-family: Montserrat;
    font-weight: 500;
}

button:empty::before {
    content: 'Button';
}

header,
footer {
    padding: 1rem;
    min-height: 2rem;
    width: 100%;

    color: white;
}

header {
    background-color: slateblue;
}

footer {
    background-color: darkslateblue;
}

input {
    padding: 0.5rem;
    border-radius: 0.5e1px;
    border: 1px solid gray;
    font-family: inherit;
}

input::placeholder {
    content: 'Add your text here';
}

h1:empty::after,
h2:empty::after,
h3:empty::after,
h4:empty::after,
h5:empty::after,
h6:empty::after {
    content: 'Lorem ipsum dolor sit amet consectetur.';
}

p:empty::after {
    content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dignissimos commodi, quaerat atque iusto libero.';
}

#processing-parse {
    font-weight: 500;

    position: fixed;
    inset: 0;

    background-color: white;
    display: flex;

    align-items: center;
    justify-content: center;
}