:root {
  font-family: Bubblegum Sans, Montserrat Variable, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --default-padding: 1rem;
}

html {
  scroll-behavior: smooth;
}

body, main {
  overflow: hidden;
  margin: 0;
}

body {
  background: url('assets/background.jpg') no-repeat center;
  background-size: cover;
  height: 100svh;
}

main {
  position: absolute;
  inset: 5%;

  display: flex;
}

#wz-options,
#wz-playground,
.puzzle-piece
{
  padding-inline: var(--default-padding);
  overflow-x: hidden;
}

#wz-options {
  background-color: aliceblue;
  padding-bottom: var(--default-padding);

  min-width: 15rem;
  min-height: 4rem;
}

#wz-options .puzzle-piece:hover {
  scale: 1.05;
}

#wz-playground {
  background-color: lightslategray;

  scrollbar-gutter: stable;
  padding-right: 5rem;

  width: 100%;
  min-width: 6rem;
  
  position: relative;
}

#wz-shift-animation,
#wz-resize-animation,
#wz-insert-animation {
  position: absolute;
  
}

.puzzle-piece {
  background-color: color-mix(in srgb, purple 50%, white);

  border-radius: 1e1px;
  border: 1px solid purple;

  user-select: none;
  font-weight: 500;

  margin-top: var(--default-padding);
  padding: 0.75rem;

  box-sizing: border-box;

  flex-shrink: 0;

  width: 100%;
  max-width: 20rem;

  overflow: visible;

  transition: scale 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  
  touch-action: none;
  position: relative;

  z-index: 1;
}

.puzzle-piece::before {
  content: attr(data-name);
  transform: translateY(-2px);
}

.puzzle-piece.wz-selected {
  box-shadow: 0 0 8px -2px white;
}

#wz-arrow {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  z-index: 999;
  pointer-events: none;
}

/* Sidebar */
aside {
  background-color: lightgray;

  display: grid;
  grid-template-rows: auto 1fr;

  min-width: 13rem;
  min-height: 13rem;

  flex-shrink: 0;
}

#wz-preview {
  aspect-ratio: 16 / 9;
  width: 100%;

  background-color: gray;
  user-select: none;
  pointer-events: none;
}

#wz-delete-icon {
  aspect-ratio: 1;

  position: fixed;
  bottom: 3rem;
  

  background: hsl(359, 60%, 37%);
  color: white;

  border-radius: 50%;

  padding: 0.75rem;

  font-size: 1.5rem;

  scale: 0;
  transition: scale 250ms ease var(--delay);
  z-index: 2;
}

@keyframes wobble {
  0%, 100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(30%);
  }
}

.wz-separator {
  aspect-ratio: 1;

  font-size: var(--default-padding);

  padding: 0.5rem;

  position: absolute;

  background-color: #fff6;
  border-radius: 50%;

  color: purple;
  transition: color 250ms ease;

  translate: 0 -50%;

  z-index: 500;
}

.wz-separator.wz-arrow-hovered {
  color: #fff6;
}

#wz-properties {
  padding: var(--default-padding);
}

#wz-properties:not(:has([data-wz-show-property=true]))::before {
  content: 'No applicable properties found';
  color: gray;
}

@media screen and (max-width: 820px) {
  main {
    flex-direction: column-reverse;
  }

  #wz-options {
    display: flex;
    align-items: center;
    gap: var(--default-padding);

    overflow-x: auto;
  }

  #wz-options .puzzle-piece {
    width: fit-content;
    touch-action: manipulation;
  }

  #wz-playground {
    flex-grow: 1;
    width: auto;

    padding-right: 4rem;
  }

  #wz-playground .puzzle-piece {
    margin-inline: auto;
  }

  aside {
    flex-grow: 0;

    display: flex;
    flex-direction: row-reverse;
  }

  #wz-properties {
    width: 100%;
  }

  #wz-preview {
    display: none;
  }

  body:not(:has(.puzzle-piece.wz-selected)) #wz-preview {
    display: block;
  }

  body:not(:has(.puzzle-piece.wz-selected)) #wz-properties {
    display: none;
  }

  #wz-delete-icon {
    /* transform: translate(-1rem); */
    bottom: 9rem;
  }
}